.spacer { 
    flex: 1 1 auto; 
}
nav a { 
    margin: 0 12px; 
    font-weight: 500;
    font-family : 'Roboto', sans-serif;
    color: black; 
    text-decoration: none; 
    text-transform: uppercase; 
}
.logo{
    font-family : 'Roboto', sans-serif;
}